@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --primary-white: rgb(238, 238, 238);
  --primary-gray: rgb(191, 191, 191);
  --primary-black: rgb(49, 49, 49);

  --secondary-black: rgb(27, 27, 27);
  --secondary-black-purple: rgb(39, 29, 50);

  --accent-purple-darker: rgb(90, 63, 120);
  --accent-purple: rgb(135, 94, 182);
  --accent-purple-lighter: rgb(170, 121, 228);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  font-family: 'Inter', sans-serif;
}

/* -- HEADER -- */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

header > nav > a {
  text-decoration: none;
  color: var(--primary-black);
  font-size: 1.25rem;

  padding: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

header > nav > a:hover {
  border-bottom: 2px solid var(--accent-purple-lighter);
}
/* -- END HEADER -- */

/* -- MAIN -- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

main > #about {
  width: 60%;
  padding: 1rem;
  text-align: left;
}

main > * > * {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

main > #about > p {
  padding: 0 1rem 0 1rem;
  text-align: justify;
  font-size: 1.1rem;

  border-left: 4px solid var(--accent-purple);
  color: var(--primary-black);
}

main > #showcase {
  width: 60%;
  padding: 1rem;
  text-align: center;
}

main > #showcase > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;

  margin: 1rem;
}

main > #showcase > ul > li {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary-gray);
  width: 11rem;
}

main > #showcase > ul > li > img {
  width: 100%;
}

main > #showcase > ul > li > p {

}

/* -- END MAIN -- */

/* -- FOOTER -- */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  left: 0;
  bottom: 0;
}


/* -- END FOOTER -- */
